h1= title
p Developed at #RHoK Basel June 4, 2011
form(method="post")
  fieldset
    legend Missing persons list
    p.buttons
      label(for="listurl") URL:
        input(type="text", name="urldata")
          | Enter a valid
          | missing persons list web link
          | see examples below.
        select(name="urltype")
          option(value="") --Type--
          option(value="xml") XML
          option(value="csv") CSV
        input(type="submit", value="Go")
    p.message= message

h2 Examples
p 
  b XML
p
  a(href='http://zesty.ca/pfif/1.2/pfif-1.2-example.xml') http://zesty.ca/pfif/1.2/pfif-1.2-example.xml
p 
  b CSV
p
  a(href='http://ox4hs.utou.ch/rhok/pfif-1.2-example-simple.csv') http://ox4hs.utou.ch/rhok/pfif-1.2-example-simple.csv


