a(href="https://github.com/loleg/batch-people-finder")
  img(style="position: absolute; top: 0; right: 0; border: 0;", src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")
div(id="container")
  h1= title
  p(class="subtitle")
    span
      a(href="http://www.rhok.org/node/2689") Random Hacks of Kindness #3
  form(method="post")
    fieldset
      legend Missing persons list
      label(for="listurl") URL
      input(type="text", name="urldata", id="urldata")
        | Enter a valid
        | missing persons list web link
        | see examples below.
      div(class="vselect")
        input(type="radio",name="urltype",value="xml") 
        small XML
        br
        input(type="radio",name="urltype",value="csv") 
        small CSV
        br
        input(type="radio",name="urltype",value="json") 
        small JSON
        br
      input(type="submit", value="Search")
      p.message= message
  div(class="examples")
    h2 Examples 
    p
      b XML
      &nbsp;&bull;
      a(href='http://zesty.ca/pfif/1.2/pfif-1.2-example.xml') http://zesty.ca/pfif/1.2/pfif-1.2-example.xml
    p 
      b CSV
      &nbsp;&bull;
      a(href='http://ox4hs.utou.ch/rhok/personfinder/pfif-1.2-example-long.csv') http://ox4hs.utou.ch/rhok/personfinder/pfif-1.2-example-long.csv
    p
      b JSON
      &nbsp;&bull;
      a(href='http://cloudciety.com/data.json') http://cloudciety.com/data.json
  
  div(id="footer")
    div
      h2 What
      p Batch People Finder allows companies and individuals without technical knowledge to upload lists right to the Google Person Finder, instead of having to manually enter them.
      p 
        a(href='http://www.rhok.org/node/2689') Read more

    div(class="right")
      h2 Who
      p This application was started by Oleg (
        a(href='http://twitter.com/loleg') @loleg
        ) and Philipp (
        a(href='http://twitter.com/philippkueng') @philippkueng
        ) at
        a(href='http://www.rhok.org/event/basel') Random Hacks of Kindness #3
