h1= title
p Developed at #RHoK Basel June 4, 2011
form(method="post")
  fieldset
    legend Missing persons list
    p.buttons
      label(for="listurl") URL:
        input(type="text", name="listurl")
          | Enter a valid
          | missing persons list web link
          | see examples below.
        input(type="submit", value="Go")

h2 Examples
a(href='http://zesty.ca/pfif/1.2/pfif-1.2-example.xml') pfif example

